@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Chat Hub</h1>
    <p>Please Login to Continue</p>
	<a class="btn btn-primary" asp-controller="Auth" asp-action="Login">Login</a>
</div>
